@font-face{
    font-family: mainfont;
    src: url(GreatVibes-Regular.ttf);
}

body{
    font-family: mainfont;
    background-image: url(./img/bgg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    margin: 0;
    cursor: none;
}
/* #btn1{
   color: red;
   font-family: 'Cookie', cursive;
   background-color: black; 
   font-size: 25px;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: none;
   filter: drop-shadow(5px 7px 20px rgb(255, 255, 255));
}
#btn2{
    color: red;
   background-color: black; 
   font-family: 'Cookie', cursive;
   font-size: 25px;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: none;
   filter: drop-shadow(5px 7px 20px rgb(255, 255, 255));

}
.btn{
    display: flex;
    justify-content: space-around;
    text-align: center;
} */

h1{
    text-align: center;
    font-family: 'Cookie', cursive;
    margin: 60px 10px 10px 10px;
    font-size: 60pt;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgb(189, 205, 250);
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-mp4{
    display: flex; 
    justify-content: center;
    padding: 10px;
    
}
footer{
    justify-content: center;
    color: #030303;
    text-align: center;
    padding: 16px;
    font-size: 18pt;
    text-shadow: 2px 2px 8px rgb(206, 195, 197);
}
footer a{
    color: var(--txt-color);
}
footer img{
    width: 4rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    filter: drop-shadow(5px 7px 20px rgb(255, 255, 255));
    
}
.socialLinks{
    display: flex;
    justify-content: center;
    height: 80px
}
.cursor{
    width: 5rem;
    height: 5rem;
    border: 3px solid;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    backdrop-filter:  blur(1px) invert();
    z-index: 1;
    
}

/* Tablet */
@media screen and (min-width: 600px) {
    body{
        padding-top: 2em;
        background-image: url(img/bgg.jpg);

        background-position-x: right;
    }
    .video{
        font-size: 24pt;
    }
    .video-mp4 video{
        width: 80%;
    }
    footer{
        font-size: 30pt;
    }
}

/* Desktop css*/
@media screen and (min-width: 992px) {
    body{
        padding: 0;
    }
    .video-mp4 video{
        width: 40%;
        height: auto;
    }

    .video{
        margin: 1em 200px 0 200px;
        font-size: 26pt;
    }
    footer{
        font-size: 26pt;
    }
}
